@import "./general.css";

.container {
    width: 100%;
    float: left;
    text-align: center;
    padding-left: 280px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.cards__imgtext {
    height: 350px;
}

.cards__imgtext__image {
    float: left; 
    width: 30%;
}

.cards__imgtext__text {
    float: right; 
    width: 69%; 
    height: 349px; 
    padding-top: 70px;
}

p {
    font-size: 22px;
}

.cards__imgtext__text h2 {
    font-size: 40px;
}

.cards__btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    font-size: 20px;
    color:rgb(250, 250, 250);
    background-color: red;
    width: 300px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    float: left;
}

body.dark .cards__btn {
    background-color: rgb(223, 32, 32);
    color: #000000;
}

@media(max-width:480px){
    nav {
        display: none;
    }

    header {
        height: 300px;
        width: 100%;
        font-size: 35px;
    }

    .container{
        padding-left: 0;
    }
}