@import "./general.css";

.bio {
    width: 60%;
    float: center;
    text-align: center;
}

img {
    padding-top: 20px;
}

.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    font-size: 20px;
    color:rgb(250, 250, 250);
    background-color: red;
    width: 300px;
    height: 50px;
    text-align: center;
    float: center;
    padding-top: 10px;
}

@media(max-width:480px){
    nav {
        display: none;
    }

    header {
        height: 300px;
        width: 100%;
        font-size: 35px;
        padding-left: 65px;
    }
    .bio{
        width: 100%;
    }
}