@import "./general.css";

.container {
    font-size: 20px;
}

nav {
    max-height: 700px;
}

@media(max-width:480px) {
    nav {
        display: none;
    }

    header {
        width: 100%;
        height: 250px;
        font-size: 25px;
        padding-top: 25px;
    }

    .container {
        float: left;
        font-size: 25px;
    }
}