@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    transition: .4s ease all;
}

nav{
    font-size: 20px;
    height: 1700px;
    width:20%;
    background-color: rgb(250, 250, 250);
    text-align: left;
    padding-top: 50px;
    padding-left: 50px;
    list-style: none;
    position: fixed;
}

header{
    height: 400px;
    width:80%;
    background-image:url(../img/map.png);
    text-align:center;
    float: right;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 140px;
    color: white;
    font-size: 40px;
}

.nav__title {
    padding-bottom: 80px;
    color: red;
}

.nav__content, .nav__content a {
    list-style: none;
    color: #000000;
    text-decoration: none;
}

hr{
    color: rgb(255, 77, 77);
    background-color: rgb(255, 77, 77);
    border: none;
    height: 10px;
}

/*switch*/
.navbar__switch{
    border-radius: 1000px;
    background-color: #343d5b;
    display: flex;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  .navbar__switch::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f1f1f1;
  }
  
  .navbar__switch span{
     width: 30px;
     height: 30px;
     color: #fff;
     line-height: 30px;
  }
 
  .navbar__switch--active{
    background-color: orange;
  }
 
  .navbar__switch--active::after{
   right: unset;
   left: 0;
 }
 
 .dark {
   background-color: #111;
 }

 /*modo oscuro*/

body.dark header {
    color: #fff;
}

body.dark hr{
    color: rgb(223, 32, 32);
    background-color: rgb(223, 32, 32);
}

body.dark nav {
    background-color: #000000;
    color: #fff;
}

body.dark .nav__title {
    color: rgb(223, 32, 32);
}
  
body.dark a {
    color: #fff;
}

body.dark .container {
    background-color: #010101;
    color: #fff;
}

@media(max-width:480px) {
    * {
    overflow-x: hidden;
    }

    .navbar__switch {
        display: none;
    }
}