@import "./general.css";

.container {
    width: 100%;
    float: right;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 260px;
}

.card h2, .card h3 {
    padding: 50px;
}

.card__imgs, .card__imgtext {
    padding: 100px;
}

.card__btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    font-size: 20px;
    color:rgb(250, 250, 250);
    background-color: red;
    width: 1000px;
    height: 50px;
    text-align: center;
    float: center;
    padding: 10px;
}

footer {
    width: 80%;
    float: right;
    font-size: 40px;
    text-align: center;
    height: 80px;
    background-color: red;
    color: white;
    padding-top: 10px;
}

body.dark .card__btn {
    background-color: rgb(223, 32, 32);
    color: #000000;
}

body.dark footer {
    background-color: rgb(223, 32, 32);
    color: #000000;
}


@media(max-width:480px) {
    nav {
        display: none;
    }

    header {
        width: 100%;
        font-size: 25px;
    }

    .container {
        float: left;
        padding: 0px;
    }

    .card__imgs, .card__textimg {
        padding: 60px 10px 10px 10px;
    }

    .card__textimg img {
        width: 300px;
        height: 180px;
    }

    .card__btn {
        padding-top: 12px;
        width: 150px;
        height: 50px;
        font-size: 15px;
    }

    footer {
        width: 100%;
        font-size: 30px;
    }
}